*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    -webkit-flow-into: 62.5%;
}

body{
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transition: all .50s ease;
    z-index: 100;
    box-shadow: #494949f8 0px 0px 3px 0px;
    
}

.logo-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 1rem 2rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 38px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #274C5B;
    width: 154px;
    height: 45px;
    top: 5.36px;
    left: 44.79px;
    column-gap: 10px;
    opacity: 0px;
    transition: 0.4s ease;
    
}

.logo:hover{
    color: #68A47F;
    letter-spacing: 2px;
    font-size: 40px;  
}

.logo img{
    width: 36.58px;
    height: 53.72px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
}



.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    margin-left: 12rem;
}

.menu a{
    font-size: 18px;
    color: #274C5B;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    transition: all 0.3s ease;
}

.menu a:hover{
    color: #68A47F;
    letter-spacing: 2px;
}

/* .home{
    background-image: url(images/Banner.jpg);
    min-height: 90vh;
    background-size: cover;
} */


.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    margin-right: 2rem;
    font-size: 18px;
    color: #274C5B;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
}

.cart a img{
    width: 3rem;
}

.text{
 display: flex;
 flex-direction: column;
 justify-content: left;
 padding: 10.5rem 11rem 1rem;
 position: relative;


}

/* h1.anim{
    animation-delay: 0.1s;
} */

.text h1{
    font-family: "Yellowtail", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: #68A47F;
    animation-delay: 1s;
}

.text h2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #274C5B;
    animation-delay: 2s;
}

.btn{
    display: flex;
    position: absolute;
    align-items: center;
    column-gap: 10px;
    margin-left: 11rem;
    background-color: #EFD372;
    border: 10px solid #EFD372 ;
    border-radius: 16px;
    padding: 1rem 2rem;
    margin-bottom: rem;
    box-shadow: rgb(0 0 0 / 5%)0 00 8px;
    transition: all 0.5s ease;

    

    
}

.btn.anim{
    animation-delay: 3s;
}

.btn a{
    color: #274C5B;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
}

.btn:hover{
    letter-spacing: 3px;
    background-color: #EFD372;
    color: hsl(0, 0%, 100%);
    box-shadow: #EFD372 0px 7px 29px 0px;
  }

.btn:active{
    letter-spacing: 3px;
    background-color: #EFD372;
    color: hsl(0, 0%, 100%);
    box-shadow: #EFD372 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.feature-img.anim{
    animation-delay: 4s;
}

.feature-img{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 10%;

    
}

.anim {
    opacity: 0;
    transform: translateX(100px);
    animation: slideRight 1s linear forwards;
  }
  
  @keyframes slideRight {
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.iklan{
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    background: #fff;
    justify-content: space-between;
    margin: 380px auto 0px auto;
    width: 1000px;
}

.iklan-left{
    display: absolute;
    background-image: url(iklan/iklan1.jpg);
    background-size: cover;
    background-position:center;
    width: 475px;
    height: 250px;
    border-radius: 15px;
    padding: 78px 10px 10px 40px; 
}

.iklan-left h1{
    font-family: "Yellowtail", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
}

.iklan-left h2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 94px;
    font-size: 27px;
    color: #FFFFFF;
}

.iklan-right{
    display: absolute;
    background-image: url(iklan/iklan2.jpg);
    background-size: cover;
    background-position:center;
    width: 475px;
    height: 250px;
    border-radius: 15px;
    padding: 78px 10px 10px 40px; 
}
    
.iklan-right h1{
    font-family: "Yellowtail", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #7EB693;
}

.iklan-right h2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    color: #274C5B;
}

.about-us{
    display: flex;
    margin: 18rem auto 0px auto;
    padding-left: 90px;
    
    
}

.img-about img{
    width: 600px;

}

.text-about{
    padding-top: 62px;
}

.text-about h1{
    font-family: "Yellowtail", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #7EB693;
}

.text-about h2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    color: #274C5B;
}

.text-about p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #525C60;
}

.icon-about{
    display: flex; 
    margin-top: 20px; 
    gap: 30px;
    padding-top: 20px;
}

.icon-about img{
    width: 58px;
    padding-left: 18px;
}

.icon-about h2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #274C5B;
    padding-bottom: 8px;
}

.icon-about p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #525C60;
}

.icon-about2{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    
}

.icon-about2 img{
    width: 58px;
    padding-left: 18px;
}

.icon-about2 h2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #274C5B;
    padding-bottom: 8px;
}

.icon-about2 p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #525C60;
}

.btn-about {
    display: flex;
    position: absolute;
    align-items: center;
    column-gap: 10px;
    margin-top: 3rem ;
    background-color: #274C5B;
    border: 10px solid #274C5B ;
    border-radius: 16px;
    padding: 14px 22px;
    margin-bottom: rem;
    box-shadow: rgb(0 0 0 / 5%)0 00 8px;
    transition: all 0.5s ease;
}

.btn-about a{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
}

.btn-about:hover{
    letter-spacing: 3px;
    background-color: #274C5B;
    color: hsl(0, 0%, 100%);
    box-shadow: #274C5B 0px 7px 29px 0px;
  }

.btn-about:active{
    letter-spacing: 3px;
    background-color: #274C5B;
    color: hsl(0, 0%, 100%);
    box-shadow: #274C5B 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


.title-shop h1{
    text-align: center;
    font-family: "Yellowtail", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #7EB693;
    padding-top: 300px;
    padding-bottom: 6px;
}

.title-shop h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    color: #274C5B;
    padding-bottom: 15px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.item{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    transition: all 0.3s ease;
    /* background-color: #afe8ff; */
}

.item:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.164), -10px -10px 10px white;   
    cursor: pointer;
}

.item-list{
    max-width: max-content;
    padding: 2px 6px; 
    margin: 24px;
    text-align: center;
    border: 2px solid #274C5B;
    background-color: #274C5B;
    border-radius: 8px;
}

.item-list h3{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    font-size: 12px;
}

.item-content{
    display: flex;
    flex-direction: column;
    

}
.item-content img{
    width: 100%;
    height: 238.8px;
    
}
.item-content h3{
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #274C5B;
    padding-left: 1.2rem;
}
.item-content hr{
    text-align: center;
    border: 1px solid ;
    color: #DEDDDD;
    min-width: 88%;
    margin: 10px auto 0px auto ;
}

.item-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 6px;
    padding: 0px 16px;
    margin-bottom: 10px;
    
    
}

.item-price .price {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.item-price h4{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* padding-left: 8px; */
    
    
}
.item-price #line{
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 600;
    /* padding-top: 2px; */
    /* padding-left: 18px; */
    color: #B8B8B8;
}
.item-price .star{
    display: flex;
    align-items: center;

    /* padding-right: 2.8vh; */
    color: #FFA858;
    font-size: 1.7vh;
}

.btn-products {
    display: flex;
    position: absolute;
    align-items: center;
    column-gap: 10px;
    margin-top: 58rem ;
    background-color: #274C5B;
    border: 10px solid #274C5B ;
    border-radius: 16px;
    padding: 14px 22px;
    margin-bottom: rem;
    box-shadow: rgb(0 0 0 / 5%)0 00 8px;
    transition: all 0.5s ease;
}

.btn-products a{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
}

.btn-products:hover{
    letter-spacing: 3px;
    background-color: #274C5B;
    color: hsl(0, 0%, 100%);
    box-shadow: #274C5B 0px 7px 29px 0px;
  }

.btn-products:active{
    letter-spacing: 3px;
    background-color: #274C5B;
    color: hsl(0, 0%, 100%);
    box-shadow: #274C5B 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.Testimonial{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20rem;
    background-image: url('testimonial/Background2.png');
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
 
.container{
    position: absolute;
    top: 0;
    margin-top: 7.8rem;
}

.text-testimonial{
    margin-bottom: 3rem;
}

.text-testimonial h1{
    text-align: center;
    font-family: "Yellowtail", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #7EB693;
    padding-bottom: 6px;
}

.text-testimonial h2{
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: #274C5B;
}

.item-testimonial img{
    border-radius: 100%;
    padding-bottom: 1rem;
    width: 100px;
}

.star-testimonial{
    color: #FFA858;
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

.item-testimonial p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #525C60;
    padding-bottom: 1.4rem;
}

.item-testimonial h3{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #274C5B;
}

.item-testimonial h4{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #525C60;
}

.item-testimonial h5{
    font-size: 2.8rem;
    color: #274C5B;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    transition: all 0.3s ease; */
    /* position: absolute;
    bottom: 0;
    margin-bottom: 4rem;
    border: 2px solid #7EB693;
    border-radius: 100%;
    padding: 3rem 2rem; */
}

.footer-dalam{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    transition: all 0.3s ease;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 4rem;
    border: 2px solid #7EB693;
    border-radius: 100%;
    width: 9rem;
    height: 9rem;
}

.footer-text{
   display: flex;
   flex-direction: column;
   text-align: center;
}